body {
    min-height: 100vh;
    /* background-image: linear-gradient(147deg, #c0c0c0 0%, #000000 100%); */
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/background.jpg');
    background-repeat: repeat;
    /* background-size: 800px 800px; */
}

.table-responsive {
    max-width: 150rem !important;
}

#bibliography {
    padding-top: 1em;
    margin-bottom: 0.5em;
}

select[name="bibliography_length"] {
    height: 30px;
}

thead input {
    width: 100%;
    padding: 1px;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 1em;
}

td.highlight {
    background-color: rgb(246, 246, 246);
}

td.centerHighlight {
    background-color: rgb(228, 228, 228);
}

th {
    white-space: nowrap;
}

@media screen and (min-width: 1024px) {

    td:nth-child(1) {
        min-width: 400px;
    }
    
    td:nth-child(2) {
        min-width: 150px;
    }
    
    td:nth-child(4) {
        min-width: 200px;
    }
}

@media screen and (max-width: 450px) {

    input[type="search"] {
        max-width: 8.5rem !important;
    }

    input[type="text"] {
        max-width: 8.5rem !important;
    }

    tbody tr td {
        /* max-width: 200px !important; */
        max-width: 8.5rem !important;
    }

    tbody tr td ul li {
        /* max-width: 200px !important; */
        max-width: 8.5rem !important;
    }
}